@font-face {
    font-family: "MesloLGS NF";
    src: url("../fonts/MesloLGSNerdFont-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MesloLGS NF";
    src: url("../fonts/MesloLGSNerdFont-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "MesloLGS NF";
    src: url("../fonts/MesloLGSNerdFont-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MesloLGS NF";
    src: url("../fonts/MesloLGSNerdFont-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
