@use "core/_config" as *;

.main-content {
  width: 100%;
  max-width: var(--width-content);
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem $container-padding;

  @media (max-width: $mobile-breakpoint) {
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 600px) {
  .wrapper {
    padding: 1.25rem 0.75rem;
  }
}