body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.layout {
    flex: 1;

    width: min(100%, var(--content-width));

    margin-inline: auto;

    padding-block: var(--space-7);
    padding-inline: var(--space-4);
}

@media (max-width: 768px) {

    .layout {
        padding-inline: var(--space-3);
        padding-block: var(--space-5);
    }

}